{% extends 'base.html' %}

{% block meta %}
    <title>Login</title>
{% endblock meta %}

{% block content %}

<style>
    /* Ganti warna latar belakang menjadi biru muda */
    body {
        background-color: rgb(92, 86, 86);
        display: flex;
        justify-content: center; /* Pusatkan konten horizontal */
        align-items: center; /* Pusatkan konten vertikal */
        height: 100vh; /* Sesuaikan tinggi ke viewport */
        margin: 0; /* Hapus margin halaman */
        
    }

    /* Gaya lainnya sesuai kebutuhan Anda */
    .login {
        background-color: rgb(192, 185, 185);
        padding: 50px;
        border-radius: 20px; /* Mengurangi radius border agar lebih modern */
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Efek bayangan */
        text-align: center; /* Pusatkan teks horizontal */
    }

    h1 {
        color: rgb(49, 46, 51);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-bottom: 20px; /* Tambahkan jarak antara judul dan formulir */
    }

    /* Gaya untuk tombol */
    .login_btn {
        background-color: rgb(63, 57, 178);
        color: aliceblue;
        border: none;
        padding: 7px 20px; /* Tambahkan lebih banyak padding untuk tombol */
        border-radius: 7px;
        cursor: pointer;
        font-size: 16px; /* Ukuran font yang lebih besar */
    }

    /* Gaya untuk tautan "Register Now" */
    a {
        text-decoration: none; /* Hapus garis bawah pada tautan */
        color: rgb(63, 57, 178);
        font-weight: bold; /* Tambahkan ketebalan teks */
        transition: color 0.2s; /* Efek transisi warna saat mengarahkan mouse */
    }

    a:hover {
        color: rgb(92, 86, 86); /* Ubah warna saat mengarahkan mouse */
    }
</style>

<div class = "login">

    <h1>Login</h1>

    <form method="POST" action="">
        {% csrf_token %}
        <table>
            <tr>
                <td style="font-variant: small-caps;">Username: </td>
                <td><input type="text" name="username" placeholder="Username" class="form-control"></td>
            </tr>
                    
            <tr>
                <td style="font-variant: small-caps;">Password: </td>
                <td><input type="password" name="password" placeholder="Password" class="form-control"></td>
            </tr>

            <tr>
                <td></td>
                <td><input class="btn login_btn" type="submit" value="Login"></td>
            </tr>
        </table>
    </form>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}     
        
    <p>Don't have an account yet? <a href="{% url 'main:register' %}">Register Now</a></p>
</div>

{% endblock content %}
