{% extends 'base.html' %}
{% block meta %}
    <title>Login</title>
{% endblock meta %}
{% block content %}
{% load static %}
<style>
    /* Latar belakang dengan gambar dan efek transparansi */
    body {
        background-image: url("{% static 'BG.png' %}");
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }

    /* Kontainer login */
    .login {
        background-color: rgba(255, 255, 255, 0.9);
        padding: 30px;
        border-radius: 100px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        text-align: center;
        max-width: 400px;
        margin: 0 auto;
        /* Menambahkan margin atas dan bawah */
        margin-top: 20px;
        margin-bottom: 20px;
    }

    /* Judul */
    h1 {
        color: #333;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-bottom: 20px;
    }

    /* Tombol login */
    .login_btn {
        background-color: #007BFF;
        color: #fff;
        border: none;
        padding: 12px 24px; /* Padding lebih besar */
        border-radius: 5px;
        cursor: pointer;
        margin-top: 20px; /* Tingkatkan jarak atas */
        font-size: 18px;
        transition: background-color 0.3s; /* Efek transisi hover */
    }

    .login_btn:hover {
        background-color: #0056b3; /* Warna berubah saat hover */
    }

    /* Tautan "Register Now" */
    a {
        text-decoration: none;
        color: #007BFF;
        font-weight: bold;
        transition: color 0.3s; /* Efek transisi hover */
    }

    a:hover {
        color: #0056b3; /* Warna berubah saat hover */
    }

    /* Pesan kesalahan */
    ul {
        list-style-type: none;
        padding: 0;
    }

    ul li {
        color: red;
        font-weight: bold;
        margin-bottom: 5px;
    }
</style>

<div class="login">
    <h1>Login</h1>
    <form method="POST" action="">
        {% csrf_token %}
        <table>
            <tr>
                <td>Username:</td>
                <td><input type="text" name="username" placeholder="Username" class="form-control"></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="password" name="password" placeholder="Password" class="form-control"></td>
            </tr>
            <tr>
                <td></td>
                <td><input class="btn login_btn" type="submit" value="Login"></td>
            </tr>
        </table>
    </form>
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <p>Don't have an account yet? <a href="{% url 'main:register' %}">Register Now</a></p>
</div>
{% endblock content %}
