{% extends 'base.html' %}

{% block meta %}
    <title>Register</title>
{% endblock meta %}

{% block content %}
{% load static %}
<style>
    /* Ganti warna latar belakang menjadi biru muda */
    body {
        background-image: url("{% static 'tandatanya.png' %}");
        background-size: cover;
        display: flex;
        justify-content: center; /* Pusatkan konten horizontal */
        align-items: center; /* Pusatkan konten vertikal */
        height: 100vh; /* Sesuaikan tinggi ke viewport */
        margin: 0; /* Hapus margin halaman */
    }

    /* Gaya lainnya sesuai kebutuhan Anda */
    .login {
        background-color: rgba(255, 255, 255, 0.489);
        padding: 50px;
        border-radius: 100px;
    }

    /* Atur tampilan form input dan tombol */
    form table {
        margin: 0 auto;
    }

    form table tr td {
        padding: 4px;
        text-align: left;
        font-weight: bold;
    }

    form table tr td input[type="text"],
    form table tr td input[type="password"] {
        width: 90%;
        padding: 4px;
        border: 1px solid #ccc;
        border-radius: 3px;
        text-align: left; /* Tambahkan ini untuk mengatur tampilan rata kanan */
    }

    form table tr td input[type="submit"] {
        background-color: rgb(0, 0, 0);
        color: aliceblue;
        border: none;
        padding: 10px 20px;
        border-radius: 7px;
        cursor: pointer;
    }

    /* Stil pesan kesalahan */
    ul {
        list-style: none;
        padding: 0;
        color: red;
    }
</style>

<div class="login">
    <h1 style="color: rgb(49, 46, 51); font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Register</h1>

    <form method="POST">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
            <tr>
                <td></td>
                <td><input type="submit" name="submit" value="Daftar" /></td>
            </tr>
        </table>
    </form>

    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>

{% endblock content %}
